
@font-face{
    font-family: "PlayfairDisplay";
    src: url(font-galary/PlayfairDisplay-Black.ttf);
    src: url(font-galary/PlayfairDisplay-BlackItalic.ttf);
    src: url(font-galary/PlayfairDisplay-Bold.ttf);
    src: url(font-galary/PlayfairDisplay-BoldItalic.ttf);
    src: url(font-galary/PlayfairDisplay-Italic.ttf);
    src: url(font-galary/PlayfairDisplay-Regular.ttf);
}

body{
    font-family: "PlayfairDisplay";
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}

.list{
    font-weight: normal;
    text-align: center;
    margin-top: 77px;
    margin-bottom: 100px;
}

.list-item1{
    list-style-type: none;
    display: inline;
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 14px;
}

.list-item1:hover{
    color: #03a9f4;
}

.list-item{
    list-style-type: none;
    display: inline;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 60px;
    margin-left: 60px;
}

 .content-box1{
    height: 480px;
    width: 420px;
    box-sizing: content-box;
    display: inline-block;
    margin: 0px 56px 0px 0px;
    }

.content-box2{
    height: 480px;
    width: 420px;
    box-sizing: content-box;
    display: inline-block;
}

.content-box3{
    height: 480px;
    width: 420px;
    box-sizing: content-box;
    display: inline-block;
    margin: 0px 56px 0px 0px;
    }

.content-box4{
    height: 480px;
    width: 420px;
    box-sizing: content-box;
    display: inline-block;
}

.content-box5{
    height: 480px;
    width: 420px;
    box-sizing: content-box;
    display: inline-block;
    margin: 0px 56px 0px 0px;
}

.content-box6{
    height: 480px;
    width: 420px;
    box-sizing: content-box;
    display: inline-block;
}

.button{
    height: 60px;
    padding: 10px 28px 10px 28px;
    font-size: 20px;
    font-family: "PlayfairDisplay";
    box-sizing: content-box;
    text-align: center;
    margin: 0px 350px 0px 390px;
    }